@import url("https://fonts.googleapis.com/css?family=Krub:400,700");
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 html, body {
	 width: 100%;
	 height: 100%;
}
body {
	 /* background: #202020; */
	 font-family: "Krub", sans-serif;
}
#roxId {
	display: none;
	position: absolute;
	right: 30px;
	bottom: 200px;
	width: 250px;
	height: 400px;
	width: 250px;
	height: 400px;
	border-radius: 10px;
	border: 0.2px solid rgba(255, 0, 0, 50);
	box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
	background: #151515;
	overflow: hidden;
}
#roxId .ds-top {
	 position: absolute;
	 margin: auto;
	 top: 0;
	 right: 0;
	 left: 0;
	 width: 300px;
	 height: 80px;
	 background: rgb(255, 0, 0);
	 animation: dsTop 1.5s;
}
#roxId .avatar-holder {
	 position: absolute;
	 margin: auto;
	 top: 40px;
	 right: 0;
	 left: 0;
	 width: 100px;
	 height: 100px;
	 border-radius: 50%;
	 box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000, inset 0 0 0 5px #000, inset 0 0 0 5px #000, inset 0 0 0 5px #000;
	 background: white;
	 overflow: hidden;
	 animation: mvTop 1.5s;
}
#roxId .avatar-holder img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
#roxId .name {
	 position: absolute;
	 margin: auto;
	 top: -60px;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: inherit;
	 height: 40px;
	 text-align: center;
	 animation: fadeIn 2s ease-in;
}
#roxId .name p {
	 color: white;
	 text-decoration: none;
	 font-weight: 700;
	 font-size: 18px;
}
#roxId .name h6 {
	 position: absolute;
	 margin: auto;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 color: white;
}
#roxId .cargo {
	 position: absolute;
	 margin: auto;
	 padding: 8px;
	 top: 2px;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: inherit;
	 height: 40px;
	 text-align: center;
	 animation: fadeIn 2s ease-in;
	 outline: none;
}
#roxId .cargo p {
	 padding: 5px 20px;
	 border-radius: 10px;
	 color: white;
	 letter-spacing: 0.05em;
	 text-decoration: none;
	 font-size: 10px;
	 transition: all 1s;
}
#roxId .ds-info {
	 position: absolute;
	 margin: auto;
	 top: 50px;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 width: inherit;
	 height: 40px;
	 display: flex;
}
#roxId .ds-info .carteira, #roxId .ds-info .coins, #roxId .ds-info .vip {
	position: relative;
	left: -300px;
	width: calc(250px / 3);
	text-align: center;
	color: white;
	animation: fadeInMove 2s;
	animation-fill-mode: forwards;
}
#roxId .ds-info .carteira h6, #roxId .ds-info .coins h6, #roxId .ds-info .vip h6 {
	text-transform: uppercase;
	color: rgb(255, 0, 0);
}
#roxId .ds-info .carteira p, #roxId .ds-info .coins p, #roxId .ds-info .vip p {
	font-size: 12px;
}
#roxId .ds-info .ds:nth-of-type(2) {
	animation-delay: 0.5s;
}
#roxId .ds-info .ds:nth-of-type(1) {
	animation-delay: 1s;
}


#roxId .ds-info2 {
	 position: absolute;
	 margin: auto;
	 top: 170px;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 width: inherit;
	 height: 40px;
	 display: flex;
}

#roxId .ds-info2 .banco, #roxId .ds-info2 .telefone, #roxId .ds-info2 .multas {
	position: relative;
	left: -300px;
	width: calc(250px / 3);
	text-align: center;
	color: white;
	animation: fadeInMove 2s;
	animation-fill-mode: forwards;
}
#roxId .ds-info2 .banco h6, #roxId .ds-info2 .telefone h6, #roxId .ds-info2 .multas h6 {
	text-transform: uppercase;
	color: rgb(255, 0, 0);
}
#roxId .ds-info2 .banco p, #roxId .ds-info2 .telefone p, #roxId .ds-info2 .multas p {
	font-size: 12px;
}
#roxId .ds-info2 .ds:nth-of-type(2) {
	animation-delay: 0.5s;
}
#roxId .ds-info2 .ds:nth-of-type(1) {
	animation-delay: 1s;
}



#roxId .ds-doc {
	 position: absolute;
	 margin: auto;
	 top: 290px;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 width: inherit;
	 height: 40px;
	 display: flex;
}
#roxId .ds-doc .identidade, .ds-doc .documento, #roxId .ds-doc .idade {
	position: relative;
	left: -300px;
	width: calc(250px / 3);
	text-align: center;
	color: white;
	animation: fadeInMove 2s;
	animation-fill-mode: forwards;
}
#roxId .ds-doc .identidade h6, .ds-doc .documento h6, #roxId .ds-doc .idade h6 {
	text-transform: uppercase;
	color: rgb(255, 0, 0);
}
#roxId .ds-doc .identidade p, .ds-doc .documento p, #roxId .ds-doc .idade p {
	font-size: 12px;
}
#roxId .ds-doc .ds:nth-of-type(2) {
	animation-delay: 0.5s;
}
#roxId .ds-doc .ds:nth-of-type(1) {
	animation-delay: 1s;
}
#roxId footer {
	color: white;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 2px;
	position: absolute;
	bottom: 0;
  left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.2;
}
 @keyframes fadeInMove {
	 0% {
		 opacity: 0;
		 left: -300px;
	}
	 100% {
		 opacity: 1;
		 left: 0;
	}
}
 @keyframes fadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes mvBottom {
	 0% {
		 bottom: -150px;
	}
	 100% {
		 bottom: 10px;
	}
}
 @keyframes mvTop {
	 0% {
		 top: -150px;
	}
	 100% {
		 top: 40px;
	}
}
 @keyframes dsTop {
	 0% {
		 top: -150px;
	}
	 100% {
		 top: 0;
	}
}
 .following {
	 color: white;
	 background: crimson;
}
 