#body {
	display: none;
	overflow: hidden;
}

#outerdiv {
	background: rgba(0,0,0,0.3);
	bottom: 5%;
	left: 50%;
	width: 15%;
	height: 30px;
	transform: translate(-50%,-50%);
	position: fixed;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
}

#innerdiv {
	background-image: linear-gradient(#049cf5,#006aa8);
	height: 100%;
	width: 0%;
	opacity: 0.5;
	border-radius: 3px;
}

#innertext {
	top: 7px;
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,0.4);
	font-size: 13px;
	position: absolute;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	text-shadow: 1px 1px rgba(0,0,0,0.4);
	text-transform: uppercase;
	letter-spacing: 1px;
}